<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="landing-page.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body >

    

    <div class="">
        <div class="row">
          <div class="col-md-12 header">
            <div class="col-md-12" align="center">
             <img class="imgPersonal" src="https://scontent.fcen4-1.fna.fbcdn.net/v/t1.6435-9/90424009_2991406917576482_7830391895107829760_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEjW0YS2gDEuu1EU7nKD8vRcf0LFnbSOVxx_QsWdtI5XC_rsEdH_P6_dI1lI89S9G9Gc30syCvszfd3WKIgYR1m&_nc_ohc=I5zAQ495c3cAX_zLfgd&_nc_ht=scontent.fcen4-1.fna&oh=00_AfA889Rf1pvmIuR3i_JWcNKAM2ALh4QM7o_dYyyz9rUzHQ&oe=6415FB73" >
            </div>
            <br>
            <div class="col-md-12" align="center">
            <h3 class="name">Manuel de Jesus Valenzuela Vazquez</h3>
            <p class="txtHead"> Ciudad Obregón, Sonora, México.</p>
            </div> 
          </div>
          <div class="col-md-12 mid">
            <div class="col-md-12" align="center">
                <p class="txtMid">Esta es la primera landing page que creo con Angular.
                Esta página se creó con el fin de prácticar y aprender como trabajar con Angular.
                <br>
                Soy estudiante de ITSON en mi último semestre de Ingeniería en Software.</p>
            </div> 
          </div>
        </div>
    </div>

    <footer class="buttons"> 
      <a href="https://www.facebook.com" class="fa fa-facebook"></a>
      <a href="https://github.com/ManuelVzla03" class="fa fa-github"></a>
      <a href="https://www.youtube.com" class="fa fa-youtube"></a>
      <a href="https://www.linkedin.com/in/manuel-de-jesus-valenzuela-vazquez-347787224/" class="fa fa-linkedin"></a>
    </footer>
  </body>
</html>